//Theme colors
.primary-clr {
    color: $primary; //#002F65
}
.secondary-clr {
    color: $secondary; //#B32017
}
//blue
.blue-clr {
    color: $blue; //#12749E
}
// Grey Color
.grey-bg {
    background-color: $grey; //#f2f2f2
}
.dark-grey-clr {
    color: $darkGreyPrimary;
}
//common colours & bg
.white-clr {
    color: $white; //#ffffff
}
.black-clr {
    color: $black; //#000000;
}
.info-clr {
    color: $info; //#497CC2
}