//font weight
$regularFont: 400;
$boldFont: 600;
$bolderFont: 900;
//basic theme colors
$primary: #002F65;
$secondary: #B32017;
//grey
$grey: #f2f2f2;
$lightGrey: #707070;
$primaryGrey:#767676;
$secondaryGrey:#cccccc;
$tertiaryGrey:#1D1D1D;
$darkGreyPrimary: #323232;
$darkestGrey: #333333;
//blue
$info:#497CC2;
$blue: #12749E;
$primaryBlue: #142651;
$lightBlue: #D8ECF6;
//white & black
$white: #ffffff;
$black:#000000;



